[unit]
Description = Catalogue Service

[Service]
User=roboshop
Environment=MONGO=true
Environment=MOnGO_URL="mongodb://mongodb-dev.kommanuthala.store:27017/catalogue"
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target